@import "~bootstrap/dist/css/bootstrap.css";

$light-color: #FFFFFF;
$light-color-diff: #dee5ec;
$light-color-success: #c5f2c7;
$light-color-danger: rgba(255, 4, 12, 0.5);
$light-color-info: #caedf5;
$light-color-text: #161616;

body {
  background-color: $light-color;
  color: $light-color-text;
}

.navbar {
  background-color: $light-color-diff;
  color: $light-color-text;
  display: flex;
  justify-content: space-between;
}

.navbar-link {
  color: $light-color-text;
}

.navbar-block {
  display: inline-flex;
}

.navbar-right {
  flex-direction: row;
}

.center-window {
  max-width: 50%;
  margin: 0 auto;
  padding: 5%;
  text-align: center;
}